@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  --hover-clr: #e6e4e4;
  --white-clr: #fff;
  --black-clr: black;
  --bar-height: 3px;
  --bar-width: 30px;
  --bar-gap: 10px;
  --timing-duration: .3s;
  --timing-function: ease;
  --z-index: 10;
  --max-width: 1400px
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

p {
  font-size: 1.44rem;
}

/* margin */
.mb-20 {
  margin-bottom: 20px;
}

.m-center {
  margin: 0 auto;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.p-10 {
  padding: 10px;
}

.plr-10 {
  padding: 10px 0;
}

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* link */
.link {
  text-decoration: none;
}

/* menu toggle */
.menu-toggle {
  position: relative;
  height: calc(var(--bar-height) * 3 + var(--bar-gap) * 3 + 4px);
  width: calc(var(--bar-width) + 15px);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-property: border-color;
}

.menu-toggle:hover {
  border-color: var(--black-clr);
}

.bar,
.bar::before,
.bar::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--black-clr);
  left: 8px;
  top: var(--bar-gap);
  transition-property: opacity, top, transform;
}

.bar::before,
.bar::after {
  content: "";
  left: 0;
}

.bar::before {
  top: calc(var(--bar-gap));
}

.bar::after {
  top: calc(var(--bar-gap) + 10px);
}

/* When menu is active (X state) */
.menu-toggle.open .bar {
  transform: rotate(45deg);
  top: calc(var(--bar-gap) + 10px)
}

.menu-toggle.open .bar::before {
  transform: rotate(-90deg);
  top: 0;
  opacity: 0;
}

.menu-toggle.open .bar::after {
  transform: rotate(-95deg);
  top: 0;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* logo */
.logo-container {
  width: 120px;
  display: flex;
}

.logo {
  width: 100%;
}

/* nav bar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: var(--max-width);
}

.nav-right .menu {
  background-color: var(--white-clr);
  position: absolute;
  z-index: var(--z-index);
  left: 0;
  top: 60px;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  transform: translate3d(0, -4rem, 0);
  opacity: 0;
  visibility: hidden;
  transition-property: transform, opacity, visibility;
}

.nav-right .menu.open {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;
}

.nav-right .menu .menu-item {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.nav-right .menu .menu-item .link {
  display: block;
  padding: 10px;
  color: black;
  font-weight: 600;
  transition-property: background-color;
}

.nav-right .menu .menu-item .link:visited{
  color: black;
}

.nav-right .menu .menu-item .link:hover{
  background-color: var(--hover-clr);
}

.nav{
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  /* background-color: rgba(128, 128, 128, 0.137); */
}

@media screen and (min-width: 768px){
  .nav-right .menu {
    position: unset;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    height: auto;
    display: flex;
    gap: 10px;
  }

  .nav-right .menu .menu-item{
    margin: 0;
  }
}

/* animation */
.bar,
.bar::before,
.bar::after,
.menu-toggle,
.nav-right .menu .menu-item .link,
.nav-right .menu {
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}