@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --hover-clr: #e6e4e4;
  --white-clr: #fff;
  --black-clr: black;
  --bar-height: 3px;
  --bar-width: 30px;
  --bar-gap: 10px;
  --timing-duration: .3s;
  --timing-function: ease;
  --z-index: 10;
  --max-width: 1400px;
  --footer-font-clr: #7a7777;
  --footer-bg-clr: #f5f5f7;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0 auto;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

p {
  font-size: 1.44rem;
}

/* margin */
.mb-20 {
  margin-bottom: 20px;
}

.m-center {
  margin: 0 auto;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.p-10 {
  padding: 10px;
}

.plr-10 {
  padding: 10px 0;
}

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* link */
.link {
  text-decoration: none;
}

/* menu toggle */
.menu-toggle {
  position: relative;
  height: calc(var(--bar-height) * 3 + var(--bar-gap) * 3 + 4px);
  width: calc(var(--bar-width) + 15px);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-property: border-color;
}

.menu-toggle:hover {
  border-color: var(--black-clr);
}

.bar,
.bar::before,
.bar::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--black-clr);
  left: 8px;
  top: var(--bar-gap);
  transition-property: opacity, top, transform;
}

.bar::before,
.bar::after {
  content: "";
  left: 0;
}

.bar::before {
  top: calc(var(--bar-gap));
}

.bar::after {
  top: calc(var(--bar-gap) + 10px);
}

/* When menu is active (X state) */
.menu-toggle.open .bar {
  transform: rotate(45deg);
  top: calc(var(--bar-gap) + 10px)
}

.menu-toggle.open .bar::before {
  transform: rotate(-90deg);
  top: 0;
  opacity: 0;
}

.menu-toggle.open .bar::after {
  transform: rotate(-95deg);
  top: 0;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* logo */
.logo-container {
  width: 120px;
  display: flex;
}

.logo {
  width: 100%;
}

/* nav bar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: var(--max-width);
}

.nav-right .menu {
  background-color: var(--white-clr);
  position: fixed;
  z-index: var(--z-index);
  left: 0;
  top: 60px;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  transform: translate3d(0, -4rem, 0);
  opacity: 0;
  visibility: hidden;
  transition-property: transform, opacity, visibility;
}

.nav-right .menu.open {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;
}

.nav-right .menu .menu-item {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.nav-right .menu .menu-item .link {
  display: block;
  padding: 10px;
  color: black;
  font-weight: 600;
  transition-property: background-color;
}

.nav-right .menu .menu-item .link:visited {
  color: black;
}

.nav-right .menu .menu-item:hover .link {
  background-color: var(--hover-clr);
}

.nav-right .menu .menu-item .link.highlight {
  background-color: var(--hover-clr);
}

.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.75);
  /* padding: 10px 0; */
}

.nav-right .menu.open nav {
  background-color: var(--white-clr);
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 20px;
  }

  .nav-right .menu {
    position: unset;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    display: flex;
    gap: 10px;
    height: auto;
    width: auto;
    background-color: transparent;
    padding-top: 0;
  }

  .nav-right .menu .menu-item {
    margin: 0;
  }

  .nav-right .menu .menu-item {
    margin-right: 20px;
  }

  .nav-right .menu .menu-item:last-child {
    margin: 0;
  }

  .nav-right .menu .menu-item .link {
    border-bottom: 1px solid transparent;
    padding: 0;
    padding-bottom: 2px;
    transition-property: border-color;
  }

  .nav-right .menu .menu-item:hover .link {
    background-color: unset;
    border-color: black;
  }

  .nav-right .menu .menu-item .link.highlight {
    background-color: unset;
    border-color: black;
  }
}

/* main */
main {
  padding-top: 60px;
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (min-width: 768px){
  main {
    padding-top: 100px;
  }
}

/* footer */
footer {
  background-color: var(--footer-bg-clr);
  color: var(--footer-font-clr);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  font-size: 1rem;
}

footer .link,
footer .link:visited {
  color: var(--footer-font-clr);
  font-size: 1.2rem;
}

.footer-title {
  margin-bottom: 5px;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-info .day {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
}

footer .list .list-item:nth-child(3) .footer-info .link {
  transition-property: color;
}

footer .list .list-item:nth-child(3) .footer-info {
  flex-direction: row;
  gap: 10px;
}

footer .list .list-item:nth-child(3) .footer-info .link:hover {
  color: black;
}

footer .list .list-item {
  margin-bottom: 10px;
}

.footer-info .icon {
  margin-right: 5px;
}

.footer-info .contact-link {
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer-info .contact-link:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer {
    align-items: center;
  }

  footer .list {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
  }
}

/* policy page, faq page */
.policy-page, .faq-page {
  margin-bottom: 50px;
  padding: 10px;
}

.policy-page h1, .faq-page h1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.policy-page h4, .faq-page h4 {
  font-size: 1.8rem;
}

.policy-page section, .faq-page section{
  margin-bottom: 20px;
}

.policy-page section p, .faq-page section p{
  margin-bottom: 10px;
}

.policy-page section p:last-child, .faq-page section p:last-child{
  margin-bottom: 0;
}

@media screen and (min-width: 768px){
  .policy-page, .faq-page{
    padding: 20px;
  }
}

/* home page */
.home-page section {
  margin-bottom: 100px;
}

.hero .background {
  position: absolute;
  object-fit: cover;
  top: 50px;
  z-index: -2;
  width: 100%;
  min-height: 50vh;
}

.hero .background img {
  width: 100%;
}

.hero::before {
  content: "";
  inset: 0;
  top: 100px;
  height: 50vh;
  position: absolute;
  z-index: -1;
  background-color: rgb(15, 21, 37, .5);
}

.hero {
  padding-top: 40px;
  margin-bottom: 50px;
}

.hero .container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero .container h2 {
  text-align: center;
  font-size: 2.5rem;
  /* text-transform: uppercase; */
}

.hero .container {
  text-transform: uppercase;
}

.hero .container .contact-link {
  color: var(--white-clr);
  margin-top: 40px;
  font-weight: 600;

  span {
    margin-right: 5px;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    transition-property: margin-right, border-color;
  }
}

.hero .container .contact-link:hover span {
  border-color: var(--white-clr);
  margin-right: 10px;
}


@media screen and (min-width: 768px) {
  .hero::before {
    /* height: 56.25vw; */
    height: 478px;
  }

  .hero .container {
    font-size: 1.5rem;
    height: 56.25vw;
    word-spacing: 0.3rem;
  }

  .hero .container .contact-link {
    font-size: 1.3rem;
  }

  .hero .container h2 {
    font-size: 4rem;
  }

  .hero {
    font-weight: 600;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 850px) {

  .hero::before,
  .hero .container {
    height: 56.25vw;
  }
}

@media screen and (min-width: 1400px) {
  .hero .container {
    font-size: 2.3rem;
  }

  .hero .container h2 {
    font-size: 5rem;
  }
}

/* video section */
.video-container h3 {
  margin-bottom: 20px;
  text-align: center;
}

.video-container iframe {
  width: 100%;
  height: 56.25vw;
  max-height: 500px;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(159, 156, 156, 0.491);
}

@media screen and (min-width: 1024px){
  .video-container{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .video-container h3 {
    margin-bottom: 0;
    font-size: 3rem;
    flex-shrink: 1.5;
  }
}

/* animation */
.bar,
.bar::before,
.bar::after,
.menu-toggle,
.nav-right .menu .menu-item .link,
.nav-right .menu,
footer .list .list-item:nth-child(3) .footer-info .link,
.hero .container .contact-link span {
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}